.recmain{
    margin-top: 10px;
    padding-top: 80px;
}
.list{
    
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 30%;

}
.list li{
display: inline-block;
}
.recimage{
width: 430x;
height: 300px;
padding: 20px;
padding-top: 2px;
border-radius: 10% ;
object-fit:cover;
}

.reccard{
margin-left: 50px;
padding: 2px;
margin-top: 20px;

}
.recHeading{
margin-top: 60px;
margin-left: 80px;
}
.recHead{
font-size: 18px;
padding-left: 15px;
text-align: center;
font-weight: bold;
}

.recicon_price{
display: flex;
color: rgb(255, 20, 147);
font-weight: bold;
font-size: 20px;
padding: 15px;
margin-left: 30px;
}
.recCus{
margin-left: 40px;
font-weight: bold;
color: gray;
}
.recDiscoun{
display: flex;
}
.recicon1{
padding-left: 10px;
color: gray;
}
.recDiscoun1{
color: gray;
text-decoration:line-through;
}
.recimageexpcard{
background-color: rgb(255, 255, 255);
transition: transform .5s; 
width: 280px;
height: 280px;
margin-left: 20px;
} 

.recimage:hover {
transform: scale(1.1);
cursor: pointer;
}