@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;

}
.sliderImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
  height: 350px;
  width: 1000px;
  object-fit: cover;
}
.slides .slick-prev,
.slides .slick-next{
    position: absolute;
    top: 50%;
    z-index: 1;
    background-color: alceblue;
    
}
.slick-prev{
    left: 5%;
}
.slick-next{
    right: 5%;
}